.homepage--section-3{
    height: 90vh;
    padding: 8vh 0;
    position: relative;
}

.homepage--section-2 .container{
    text-align: center;
}
/* ------- Titre -------- */

.homepage--section-3-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------- Visuel -------- */

.homepage--section-3-content .visuel{
    width: 40%;
    margin-right: 10%;
}

.homepage--section-3-content .visuel img{
    width: 100%;
    height: auto;
}

/* ------- text -------- */

.homepage--section-3-text{
    width: 40%;
    font-size: 1.3em;
    line-height: 1.5em;
}